/dist
/images
/docs_src/build
/tests/images
/build
/bin
/seeq_causality.egg-info
/.spyproject
.ptest_cache
*.pyc
*.egg-info
*.egg

log/
*.log

**/node_modules

# OS clutter
*.DS_Store
**/Thumbs.db
.keep

/target
/*/image

*.zip
*.tar.gz


# Vim/Emacs old files
*~

# office temp files
~$*
~*.tmp

# Eclipse settings
*.classpath
*.project
*.prefs
*.class

# IntelliJ settings
.idea
*.iml

# Visual Studio settings
.localhistory/
Backup*/
*.[Cc]ache
!*.[Cc]ache/
*.e2e
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
Generated\ Files/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.csv
*.xlsx
*.pdf

# credential files
*.key

/.venv/